/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

Кроме этого, не меняйте HTML переключателя тем. Его разметка также гарантирует работу своего скрипта.

*/

.page {
  min-inline-size: 320px;
  min-block-size: 100dvb;
  font-family: var(--inter), sans-serif;
  font-variation-settings: "wght" var(--font-weight-main);
  background-color: var(--bg-color);
  color: var(--text-color);
  background-image: var(--bg-image);
  background-size: cover;
  background-attachment: fixed;
}

.heading {
  background-color: var(--bg-color);
  border: 2px solid var(--text-color);
  margin: 100px auto;
  font-family: var(--PressStart2P), fantasy;
  text-transform: uppercase;
  max-height: 368px;
}

.content-item {
  width: var(--item-width);
}

.header__logo {
  display: block;
  font-size: clamp(3.0625rem, 2.7104rem + 1.5023vw, 4.0625rem);
  text-align: center;
  padding-block-start: clamp(7.5rem, 7.1479rem + 1.5023vw, 8.5rem);
}

.header__title {
  font-size: clamp(0.875rem, 0.6769rem + 0.8451vw, 1.4375rem);
  text-align: center;
  padding: 20px 0 23px;
}

.theme-menu__list {
  display: flex;
  flex-direction: column;
  padding-block-end: 24px;
  padding-inline-start: clamp(9.25rem, 5.7067rem + 15.1181vw, 19.313rem);
  gap: 8px;
}

.theme-menu__button {
  cursor: pointer;
  font-size: 14px;
  text-transform: uppercase;
  border: none;
  background-color: transparent;
}

.theme-menu__button:hover {
  animation: button-transparent 0.3s ease forwards;
}

.theme-menu__button:focus {
  outline: none;
  animation: button-transparent 0.3s ease forwards;
}

.theme-menu__button::after {
  content: "";
  display: block;
  width: 0%;
  height: 3px;
  background-color: var(--text-color);
  transition: width 0.3s ease;
}

.theme-menu__button:focus-visible::after {
  width: 100%;
  background-color: var(--text-color);
}

.theme-menu__button:disabled {
  animation: button-transparent 0.3s ease forwards;
  pointer-events: none;
  position: relative;
}

.theme-menu__button:disabled::before {
  content: "▶";
  opacity: 0.6;
  animation: menu-arrow 0.5s infinite ease-in-out both;
  position: absolute;
}

.card {
  background-color: var(--bg-color);
  margin: 0 auto 50px;
  font-family: var(--inter), sans-serif;
  border: 2px solid var(--text-color);
}

.card__heading {
  min-height: 31px;
}

.card__header {
  font-variation-settings: "wght" var(--font-weight-h);
  font-size: 18px;
  padding: 4px 10px;
}

.card__image {
  width: 100%;
  border-top: 2px solid var(--text-color);
  border-bottom: 2px solid var(--text-color);
  position: relative;
}

.card__image-item {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card__image-lable {
  position: absolute;
  top: clamp(1.438rem, 1.394rem + 0.1878vw, 1.563rem);
  right: clamp(0.688rem, 0.3799rem + 1.3146vw, 1.563rem);
  font-family: var(--PressStart2P), fantasy;
  font-size: 14px;
  mix-blend-mode: hard-light;
  opacity: 0.5;
  text-shadow: -1px 0 var(--bg-color), 0 1px var(--bg-color),
    1px 0 var(--bg-color), 0 -1px var(--bg-color);
  z-index: 2;
}

@supports ((text-stroke: 1px #000000) or (-webkit-text-stroke: 1px #000000)) {
  .card__image-lable {
    -webkit-text-stroke: 1px var(--bg-color);
    text-stroke: 1px var(--bg-color);
    text-shadow: none;
  }
}

.card__text {
  padding: 25px 25px 1px;
  font-size: 18px;
  line-height: 21px;
}

.card__buttons {
  display: flex;
  padding: 25px 25px;
  justify-content: end;
  gap: 4px;
}

.card__icon-button {
  border: none;
  cursor: pointer;
  background-color: transparent;
  display: block;
  padding: 0;
  height: 34px;
  border: 2px solid transparent;
}

.card__like-button {
  position: relative;
  overflow: hidden;
  border: none;
  cursor: pointer;
  background-color: transparent;
  border: 2px solid var(--text-color);
  height: 38px;
  width: 130px;
}

.button__text {
  font-family: var(--PressStart2P), fantasy;
  line-height: 90%;
  font-size: 14px;
  color: var(--text-color);
}

.save-button {
  display: flex;
  gap: 8px;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
  border: 2px solid var(--text-color);
  height: 55px;
  width: 339px;
  cursor: pointer;
  background-color: var(--bg-color);
  margin: 0 auto 100px;
}

.save-button .floppy {
  width: 21px;
  height: 21px;
}

.card__like-button:focus,
.save-button:focus,
.ok-button:focus {
  outline: none;
}

.card__like-button:focus-visible,
.save-button:focus-visible,
.ok-button:focus-visible {
  outline: none;
  box-shadow: 2px 2px 0 var(--text-color);
  transition: 0.3s easy;
}

.card__like-button::before,
.save-button::before,
.ok-button::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: block;
  background-color: var(--text-color);
  transform: translateX(-100%);
  transition: 0.5s ease-in-out;
}

.card__like-button:hover::before,
.save-button:hover::before,
.ok-button:hover::before {
  transform: translateX(0);
}

.card__like-button:hover .button__text,
.save-button:hover .button__text,
.save-button:hover .floppy,
.ok-button:hover .button__text {
  mix-blend-mode: difference;
  color: var(--button-color);
}

.card__icon-button:focus {
  outline: none;
}

.card__icon-button:focus-visible {
  outline: none;
  border: 2px solid var(--text-color);
  transition: 0.3s ease;
}

.saving[open] {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 361px;
  height: 197px;
  border: 2px solid var(--text-color);
  background-color: var(--bg-color);
  padding: 0;
}

.saving::backdrop {
  background-color: rgb(0 0 0 / 0.75);
}

.saving-container {
  color: var(--text-color);
  font-family: var(--PressStart2P), fantasy;
  margin: 30px auto;
}

.saving[open] .saving-container {
  display: flex;
  gap: 20px;
  align-items: center;
  color: var(--text-color);
  font-family: var(--PressStart2P), fantasy;
  margin: 30px 30px 30px 0;
}

.saving-container .floppy {
  width: 39px;
  height: 39px;
}

.saving-text {
  font-size: 14px;
  line-height: 150%;
  font-weight: var(--font-weight-main);
  text-transform: uppercase;
  max-width: 200px;
}

.ok-button {
  position: relative;
  overflow: hidden;
  cursor: pointer;
  background-color: transparent;
  border: 2px solid var(--text-color);
  height: 42px;
  width: 297px;
  margin: 0 auto;
  text-transform: uppercase;
}

.filter-1 {
  filter: contrast(200%) saturate(200%);
}

.filter-2 {
  filter: sepia(0.6);
}

.filter-3 {
  filter: grayscale(80%);
}

.filter-4 {
  filter: contrast(150%);
}

.filter-5 {
  filter: blur(3px);
}

.filter-6 {
  filter: brightness(150%);
}

.filter-7 {
  filter: invert(100%);
}

.filter-8 {
  filter: contrast(150%) brightness(200%);
}

@media (width <= 375px) {
  :root {
    --item-width: 100%;
  }

  .theme-menu__list {
    padding-block-end: 21px;
  }

  .save-button .floppy {
    width: 28px;
    height: 28px;
  }

  .save-button {
    width: 310px;
    height: 84px;
    flex-direction: column;
  }

  .saving[open] {
    width: 345px;
    height: 199px;
  }

  .saving[open] .saving-container {
    margin: 30px 30px 30px 30px;
  }

  .ok-button {
    width: 261px;
    height: 40px;
  }
}
